#wrapper {
  margin: auto;
  background-color: #ffffff;
  border-collapse: collapse;
  width: 95%;
  max-width: 600px;
  border-spacing: 0;
  border: 0;
}

#header {
  background-color: #ffffff;
  margin: auto;
  border-collapse: collapse;
  border: 0;
  width: 100%;
  max-width: 545px;
  border-spacing: 0;
}

#row-1 {
  width: 100%;
  height: 70px;
}

#column-1 > table {
  width: auto;
  margin: auto;
  height: auto;
}

#column-2 > table {
  width: auto;
  margin: auto;
}


.logoImg {
  border: 0;
  float: left;
  width: 100%;
}

.headerGhostColumn {
  width: 20px;
}

.nsP {
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 0.05em;
  font-weight: 700;
  margin: 0;
  padding: 3px 7px;
}

.dateP {
  color: #CE0E2D;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  /* text-align: right; */
}

.titleBox {
  height: 42px;
}

.titleBox > h2 {
  color: #CE0E2D;
  border-bottom: 1px solid #D4D4D4;
  font-weight: 700;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 21px;
}

.middleContent {
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 30px;
  border-collapse: collapse;
  width: 95%;
  max-width: 600px;
  border: 0;
  border-spacing: 0;
}


.middleImg {
  height: auto;
  border: 0;
  width: 100%;
  max-width: 600px;
}

#footer {
  background-color: #ffffff;
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  min-height: 318px;
  max-width: 545px;
  border: 0;
  border-spacing: 0;
  border-top: 1px solid #D4D4D4;
}

.pTable {
  margin: auto;
  width: 100%;
  font-size: 16px;
}

#footerP-1 {
  color: #6C6C6C;
  text-align: left;
  font-weight: 400;
                          /* font-size: 16px; */
  margin: 0;
}

#footerDivider {
  background-color: #CE0E2D;
  border: none;
  border-radius: 2px;
  width: 61px;
  max-width: 61px;
  height: 5px;
}

#footerP-2 {
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: #CE0E2D;
  font-weight: 500;
                          /* font-size: 16px; */
  margin: 0;
}

#footerP-3 {
  color: #6C6C6C;
  text-align: center;
  font-weight: 600;
                          /* font-size: 16px; */
  margin: 0;
}

#footerP-4 {
  color: #6C6C6C;
  text-align: center;
  font-weight: 400;
                          /* font-size: 16px; */
  margin: 0;
}

#footerA-1 {
  text-decoration: none;
  color: #2358C5;
  font-weight: 600;
}

#footerA-2 {
  color: #6C6C6C;
  text-decoration: underline;
  font-weight: 600;
}